<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Sketch nano</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.12.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/layouts/gallery-grid.css">
    <link rel="stylesheet" href="css/layouts/gallery.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/layouts/marketing.css">
    <link rel="stylesheet" href="/css/forms-min.css">
  </head>
  <body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Sketch nano</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/draw" class="pure-menu-link">お絵かきする</a></li>
                <li class="pure-menu-item"><a href="/dashboard?adult=1" class="pure-menu-link">R-18</a></li>
                <li class="pure-menu-item"><a href="/dashboard?adult=0" class="pure-menu-link">普通</a></li>
            </ul>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
